.beginView{
	width: 100%;
	padding: 40px;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 82%;

	.boxItem{
		padding: 30px;
		width: 20%;
		font-size: 2.2rem;
		height: 50%;
		color: $dark-gray;
		border-radius: 32px;
		background-color: $pumpkin;
		display: flex;
		transition: transform  0.6s, box-shadow  0.6s;
		flex-direction: column;
		cursor: pointer;
		justify-content: space-between;
		box-shadow: 0 0 16px $black;
		

		&:hover{
			transform: translateY(-20px);
			transition: box-shadow  0.6s, transform 0.6s;
			box-shadow: 0px 20px 0px $pumpkinOP, 0 0 16px $black;
		}
	}

	.bi{
		max-width: 50px;
		margin-left: auto;
		transition: color .3s ease-in;

		&:hover{
			color: $snow;
			transition: color .3s ease-in;
		}
	}

}
