.charts{
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;

	#myCanvasChart{
		max-width: 68%;
		height:auto !important;
		max-height: 70vh;
		padding: 20px !important;
		background-color: $dark-gray;
	}
	.buttonsContainer{
		margin-top: 30px;   
		display: flex;
		gap: 30px;

		.lastTime{
			padding: 12px 20px;	
			background-color: $snow;
			cursor: pointer;
			color: $dark-gray;
			font-size: 1.4rem;
			border-radius: 12px;
			transition: .4s;
			border: 3px solid $snow;
		}

		.lastTime:hover, .current{
			background-color: $dark-gray;
			color: $snow;
			border: 3px solid $snow;
		}

		.lastTime:hover{
			transition: .4s;
		}
	}
}