.myNavigation{
	width: 100%;
	padding: 10px;
	max-height: 18%;
	display: flex;
	background-color: $dark-gray;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid $gray;

	.navLogo{ height: 30px;	}

	.title{
		color: $snow;
		display: flex;
		flex-direction: row;
		gap: 20px;
		transition: text-shadow  .45s;
		margin: 0px 10px;
		padding: 12px 20px;
		font-size: 1.4rem;
		border-radius: 16px;
		cursor:pointer;

		&:hover{ 
			text-shadow: 0 0 5px $snow;
			transition: .45s;
		}
	
	}

	.navItem{
		margin: 0px 10px;
		padding: 12px 20px;
		font-size: 1.4rem;
		border-radius: 16px;
		
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2.4px; 
			bottom: 0;
			left: 0;
			background-color: transparent; 
			transition:  0.3s;
		}

		&:hover{
			color: $snow;
			cursor: pointer;
			position: relative;
			display: inline-block;
	
			&::before {
				transition: background-color 0.3s;
				background-color: $purple; 
			}
		}
	}
	
}