.ratesBox{
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 82%;
	
	
	.inputBox{
		gap: 80px;
		padding: 48px;
		transition: display .4s;
		box-shadow: 0 0 12px $black;
		color: $snow;
		@extend .themeGradient;
		border-radius: 30px;

		.exchangeHeading{
			font-size: 3rem;
			font-weight: 400;
			margin: 10px 0 50px;
		}
		
		.exchangeForm{
			display: grid;
			grid-template-columns: 1fr 1fr; 
			grid-template-rows: repeat(4, auto); 
			gap: 14px;
			padding: 26px;
			transform: translateX(80px);
			background-color: $snow;
			box-shadow: 0 0 16px $dark-gray;
			border-radius: 26px;
			.currencyInput{
				font-size: 1.2rem;
				border:none;
				outline: none;
				font-family: fantasy;
				color: $gray;
				text-align: center;
				padding: 6px;
				text-align: left;
				margin: 6px;
				background-color: $snow;
				border: 2px solid $light-gray;
				box-shadow: 7px 7px 0 $light-gray;	
				border-radius: 8px;
			}

			#date{
				grid-column: span 2;
			}

			.communicateBox{
				grid-column: span 2;
				color: $dark-gray !important;
			}

		}
	}
}