$snow: rgb(229, 229, 229);
$darker-snow: rgb(200,200,200);
$middle-chromatic: rgb(180,180,180);
$dark-gray: rgb(45,45,45);
$gray:rgb(65,65,65);
$light-gray: rgb(192, 192, 192);
$purple: #6f4eb0;
$pumpkin: #FF792A;
$pumpkinOP: #ff782a9a;
$black: black;


.themeGradient{ 
	background: $purple;
	background: radial-gradient(at top left,#94567d 0,#3f3e81 50%,#343378 100%);
}

