@import "./Theme/animations";
@import "./Theme/colors";
@import "./Components/beginView";
@import "./Components/charts";
@import "./Components/myNavigation";
@import "./Components/rates";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

*{
	box-sizing: border-box;
}

body{
	padding: 0px;
	margin: 0px;

	background-color: $dark-gray;
	color: $light-gray;
	font-family: 'Lato', sans-serif;

	height: 100vh;
	width: 100vw;
	
}

.flex{

	display: flex !important;
	animation: showOpacity .6s;
}

