@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap");
@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.themeGradient, .ratesBox .inputBox {
  background: #6f4eb0;
  background: radial-gradient(at top left, #94567d 0, #3f3e81 50%, #343378 100%);
}

.beginView {
  width: 100%;
  padding: 40px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 82%;
}
.beginView .boxItem {
  padding: 30px;
  width: 20%;
  font-size: 2.2rem;
  height: 50%;
  color: rgb(45, 45, 45);
  border-radius: 32px;
  background-color: #FF792A;
  display: flex;
  transition: transform 0.6s, box-shadow 0.6s;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 16px black;
}
.beginView .boxItem:hover {
  transform: translateY(-20px);
  transition: box-shadow 0.6s, transform 0.6s;
  box-shadow: 0px 20px 0px rgba(255, 120, 42, 0.6039215686), 0 0 16px black;
}
.beginView .bi {
  max-width: 50px;
  margin-left: auto;
  transition: color 0.3s ease-in;
}
.beginView .bi:hover {
  color: rgb(229, 229, 229);
  transition: color 0.3s ease-in;
}

.charts {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.charts #myCanvasChart {
  max-width: 68%;
  height: auto !important;
  max-height: 70vh;
  padding: 20px !important;
  background-color: rgb(45, 45, 45);
}
.charts .buttonsContainer {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.charts .buttonsContainer .lastTime {
  padding: 12px 20px;
  background-color: rgb(229, 229, 229);
  cursor: pointer;
  color: rgb(45, 45, 45);
  font-size: 1.4rem;
  border-radius: 12px;
  transition: 0.4s;
  border: 3px solid rgb(229, 229, 229);
}
.charts .buttonsContainer .lastTime:hover, .charts .buttonsContainer .current {
  background-color: rgb(45, 45, 45);
  color: rgb(229, 229, 229);
  border: 3px solid rgb(229, 229, 229);
}
.charts .buttonsContainer .lastTime:hover {
  transition: 0.4s;
}

.myNavigation {
  width: 100%;
  padding: 10px;
  max-height: 18%;
  display: flex;
  background-color: rgb(45, 45, 45);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(65, 65, 65);
}
.myNavigation .navLogo {
  height: 30px;
}
.myNavigation .title {
  color: rgb(229, 229, 229);
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition: text-shadow 0.45s;
  margin: 0px 10px;
  padding: 12px 20px;
  font-size: 1.4rem;
  border-radius: 16px;
  cursor: pointer;
}
.myNavigation .title:hover {
  text-shadow: 0 0 5px rgb(229, 229, 229);
  transition: 0.45s;
}
.myNavigation .navItem {
  margin: 0px 10px;
  padding: 12px 20px;
  font-size: 1.4rem;
  border-radius: 16px;
}
.myNavigation .navItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.4px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: 0.3s;
}
.myNavigation .navItem:hover {
  color: rgb(229, 229, 229);
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.myNavigation .navItem:hover::before {
  transition: background-color 0.3s;
  background-color: #6f4eb0;
}

.ratesBox {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 82%;
}
.ratesBox .inputBox {
  gap: 80px;
  padding: 48px;
  transition: display 0.4s;
  box-shadow: 0 0 12px black;
  color: rgb(229, 229, 229);
  border-radius: 30px;
}
.ratesBox .inputBox .exchangeHeading {
  font-size: 3rem;
  font-weight: 400;
  margin: 10px 0 50px;
}
.ratesBox .inputBox .exchangeForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 14px;
  padding: 26px;
  transform: translateX(80px);
  background-color: rgb(229, 229, 229);
  box-shadow: 0 0 16px rgb(45, 45, 45);
  border-radius: 26px;
}
.ratesBox .inputBox .exchangeForm .currencyInput {
  font-size: 1.2rem;
  border: none;
  outline: none;
  font-family: fantasy;
  color: rgb(65, 65, 65);
  text-align: center;
  padding: 6px;
  text-align: left;
  margin: 6px;
  background-color: rgb(229, 229, 229);
  border: 2px solid rgb(192, 192, 192);
  box-shadow: 7px 7px 0 rgb(192, 192, 192);
  border-radius: 8px;
}
.ratesBox .inputBox .exchangeForm #date {
  grid-column: span 2;
}
.ratesBox .inputBox .exchangeForm .communicateBox {
  grid-column: span 2;
  color: rgb(45, 45, 45) !important;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(45, 45, 45);
  color: rgb(192, 192, 192);
  font-family: "Lato", sans-serif;
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex !important;
  animation: showOpacity 0.6s;
}